<header class="header">
  <div class="inner inner--header">
    <div class="logo">
        <img class="logo_symbol" src="{{ '/assets/images/site_logo.svg' | relative_url }}">
        <a class="logo_text" href="/">Northern Devs</a>
    </div>
    <nav class="mainNavigation">
      <ul class="mainNavigation_list">
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% assign link_url = link.url %}
          {% if page.url == link.url or page.url == link.full_url or page.layout == link.layout %}
            {% assign current = 'is-current' %}
          {% endif %}
          {% if link.url == '/index.html' %}
            {% assign link_url = '/'%}
          {% endif %}
          <li class="mainNavigation_item {{ current }}"><a class="mainNavigation_link" href="{{ link_url }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
